__pycache__/*
downloads/*
logs/*
tmp/*
test.html
test.txt
src/__pycache__/*
src/PageParse/__pycache__/*
Sender/__pycache__/*
Sender/uploads/*
uploads/*
assets/analysis.html
test/*
src/utils/__pycache__/*